<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Email:</strong>
  <%= @post.user.email %>
</p>


<%= link_to 'Back', :back %>
<% if user_signed_in? && @post.user_id == current_user.id %>
<%= link_to 'Edit', edit_post_path(@post) %> |

<%= link_to "delete", post_path(@post.id), method: :delete %><br /></p>
<% end %>